.search-pan{
    margin-top: 40px;
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 10px;
    z-index: 5;
    background-color: #fff;
}

input {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    padding: 5px 15px;
    background: #fff;
    border: 1px solid #e2e2e2;
    color: #353535;
    border-radius: 10px;
    font-size: 22px;
    &:focus {
        outline: 1px solid #f57507;
    }
}

.error {
    color: #e53e3e;
    margin-top: 8px;
}